div.story-form {
    padding: 100px;
    padding-top: 60px;
}

div.story-form .story-link {
    padding: 0 10px;
    color: #666666;
    font-family: "Open Sans", sans-serif;
    font-size: 0.8em;
    margin-bottom: 25px;
}

div.story-title {
    padding: 0 22px;
    margin-bottom: 10px;
}

div.story-title input {
    font-size: 36px;
    height: 2em;
    margin: 0;
}

input.story-teaser {
    border: 0;
    font-size: 14px;
}

div.editor-content {
    min-height: 300px;
    margin: 0;
    padding: 0;
}


div.editor-buttons {
    width: 100%;
    font-family: "Open Sans", sans-serif;
    padding: 13px 0;
    padding-bottom: 12px;
    background-color: #e5e5e5;
    margin: 0;
    border: 0;
}

div.editor-preview {
    min-height: 300px;
}

ul.editor-menu-buttons {
    margin: 0;
    border: 0;
    float: left;
}

ul.editor-menu-buttons li {
    display: inline;
    list-style: none;
    margin: 0;
}

ul.editor-menu-buttons li a {
    padding: 13px 20px;
    margin: 0;
    background-color: #f5f5f5;
    border: 1px solid #e5e5e5;
    border-bottom: 0;
    font-size: 16px;
    color: #00AA88;
}

ul.editor-menu-buttons li a:active {
    color: #00AA88;
    text-decoration: none !important;
    border: none;
}

ul.editor-menu-buttons li a.active, ul.editor-menu-buttons li a:hover {
    background-color: #ffffff;
    text-decoration: none !important;
}

ul.editor-menu-floating {
    float: right;
    margin: 2px;
    padding: 0;
    border: 0;
}

ul.editor-menu-floating li {
    display: inline;
    list-style: none;
    margin: 0;
}

ul.editor-menu-floating li a {
    background-color: #00AA88;
    padding: 12px 16px;
    color: #FFFFFF;
    border: 0;
}

ul.editor-menu-floating li a:hover {
    background-color: #00c69f;
}

ul.editor-menu-floating li a.publish {
    background-color: #0099e1 !important;
}

ul.editor-menu-floating li a.publish:hover {
    background-color: #15b3f7 !important;
}

ul.editor-menu-floating li a.unpublish {
    background-color: #f5b42a !important;
    color: #333333;
}

ul.editor-menu-floating li a.unpublish:hover {
    background-color: #fdd65e !important;
}

ul.editor-menu-floating li a.remove {
    background-color: #9a7166 !important;
}


div.home-content {
    padding: 30px 10px;
    font-family: "Open Sans", sans-serif;
}

div.pagination {
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

div.editor-meta {
    font-family: "Open Sans", sans-serif;
    margin: 0 10px;
    border: 1px solid #e5e5e5;
    border-top: 0;
    padding: 20px 40px;
}

div.editor-tab-content {
    display: none;
}

div.editor-preview-box {
    padding: 10px 100px;
}

div.about {
    font-family: "Open Sans", sans-serif;
    padding: 20px 0;
}

div.about ol li {
    margin-bottom: 10px;
}