div.story-form {
    padding: 50px 80px;
}

input.story-title {
    border: 0;
    font-size: 36px;
    height: 2em;
}

input.story-teaser {
    border: 0;
    font-size: 14px;
}

div.editor-content {
    min-height: 300px;
    margin: 0;
    padding: 0;
}

div.editor-buttons {
    position: relative;
}

div.editor-buttons {
    font-family: "Open Sans", sans-serif;
}

div.editor-preview {
    min-height: 300px;
}

ul.editor-menu-buttons {
    margin: 0 10px;
    padding: 0;
    padding-top: 13px;
    padding-bottom: 11px;
    background-color: #e5e5e5;
    border: 0;
}

ul.editor-menu-buttons li {
    display: inline;
    list-style: none;
    margin: 0;
}

ul.editor-menu-buttons li a {
    padding: 13px 20px;
    margin: 0;
    background-color: #f5f5f5;
    border: 1px solid #e5e5e5;
    border-bottom: 0;
    font-size: 16px;
}

ul.editor-menu-buttons li a.active, ul.editor-menu-buttons li a:hover {
    background-color: #ffffff;
}

ul.editor-menu-floating {
    position: absolute;
    z-index: 10000;
    margin: 0;
    padding: 0;
    top: 14px;
    left: 800px;
    border: 0;
}

ul.editor-menu-floating li {
    display: inline;
    list-style: none;
    margin: 0;
}

ul.editor-menu-floating li a {
    background-color: #00AA88;
    padding: 12px 16px;
    color: #FFFFFF;
}

ul.editor-menu-floating li a:hover {
    background-color: #00c69f;
}

div.home-content {
    padding: 30px 10px;
    font-family: "Open Sans", sans-serif;
}

div.pagination {
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

div.editor-meta {
    font-family: "Open Sans", sans-serif;
    margin: 0 10px;
    border: 1px solid #e5e5e5;
    border-top: 0;
    padding: 20px 40px;
}
