canvas#content-canvas {
    display: none;
    visibility: hidden;
    position: absolute;
    z-index: 1;
}

div.imanee-highlighter-menu {
    position: absolute;
    visibility:hidden;
    z-index: 500;
    display: none;
    top: 0;
    left: 0;
}

div.highlighter-menu-active {
    display: inline-block;
    visibility: visible;
}

.highlight-panel {
    display: none;
    font-family: "Open Sans", sans-serif;
    background-color: rgba(0, 0, 0, 0.75);
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    color: #f5f5f5;
}

.highlight-panel .share-highlight-box {
    font-family: "Open Sans", sans-serif;
    background: transparent;
    border: none;
    color: #efefeb;
    margin-top: 50px;
    margin-bottom: 30px;
    outline: none;
}

body.highlight-mode .highlight-panel {
    display: block;
}

.highlight-panel p {
    color: #f5f5f5;
}

.short-url-container {
    width: 40%;
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
}