<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="@erikaheidi">
    <link rel="shortcut icon" href="{{ asset('images/ico/favicon.ico')}}">

    <title>{% block title %}dev-human - non technical content for humans who code{% endblock %}</title>

    {% block stylesheets %}
        {% stylesheets
        'assets/css/main.css'
        'assets/css/custom.css'
        filter='cssrewrite' output='css/app.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- Google Fonts -->
    <script type="text/javascript">
        WebFontConfig = {
            google: { families: [ 'Open+Sans:300,400,700:latin', 'Lato:700,900:latin' ] }
        };
        (function() {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
                    '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();
    </script>
</head>

<body>

{% block header %}
    {% include '_partials/header.html.twig' %}
    {% include '_partials/search.html.twig' %}
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xs-12  col-md-8">
            {% block content %}
            {% endblock %}
        </div>
        <div class="col-xs-12  col-md-4">
            {% block sidebar %}
                {% include '_partials/sidebar.html.twig' %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
    {% include '_partials/footer.html.twig' %}
{% endblock %}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    {% javascripts
        'assets/bootstrap/js/bootstrap.min.js'
        output='js/app.js' %}
        <script data-main="scripts/main" src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}


</body>
</html>