imanee_image_tools:
    resource: "@ImaneeImageToolsBundle/Resources/config/routing.yml"
    prefix:   /

heidilabs_sauth:
    resource: "@HeidiLabsSauthBundle/Resources/config/routing.yml"
    prefix:   /

admin:
    resource: '@SonataAdminBundle/Resources/config/routing/sonata_admin.xml'
    prefix: /admin

_sonata_admin:
    resource: .
    type: sonata_admin
    prefix: /admin

app:
    resource: "@AppBundle/Controller/"
    type:     annotation

