{% extends 'user/home.html.twig' %}

{% block homecontent %}
   <h2>Hi there, {{ app.user.name|default(app.user.username) }}!</h2>

   <h3>These are your top stories - we thought you would like to know</h3>

{% endblock %}