{% extends 'user/home.html.twig' %}

{% block homecontent %}
    <div class="search-results">
        <p><h3>Edit your Profile and Settings</h3><p>
    </div>
    <div class="row">
        <div class="col-xs-12  col-md-12">

            <div class="row">
                <div class="col-sm-2 text-right">
                    <img class="img-rounded" src="{{ gravatar(app.user.email, 40) }}" alt="Avatar image" width="40" height="40">
                </div>
                <div class="col-sm-10">
                    {% if app.user.email is not defined or app.user.email == '' %}
                        <p>It seems you didn't set up an email. This information is necessary for showing your profile picture,
                            because we use <a href="http://gravatar.com" title="Gravatar">Gravatar</a>. <br>
                            <small>ps: we'll <strong>never</strong> share your email, or spam your inbox. ❤️ </small></p>
                    {% else %}
                        <p>To change your profile picture, go to <a href="http://gravatar.com" title="Gravatar">Gravatar.com</a>. </p>
                    {% endif %}
                </div>
            </div>


            {{ form_start(form) }}
            {{ form_widget(form) }}

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary btn-lg">Save Info</button>
                </div>
            </div>

            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}