{% extends 'main.html.twig' %}

{% block title %}home ~ devhuman{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">

            <div class="col-xs-12  col-md-4">
                <div class="sidebar  boxed  push-down-30">
                    <div class="row">
                        <div class="col-xs-10  col-xs-offset-1">
                            <div class="widget-categories  push-down-30">
                                <ul>
                                    <li><a href="{{ path('devhuman_userhome') }}">Home</a></li>
                                    <li><a href="{{ path('devhuman_user_settings') }}" title="MENU Collection" class="active">Your Profile and Settings </a></li>
                                    <li><a href="{{ path('devhuman_userstories') }}" title="MENU Collection">Your Stories </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12  col-md-8">
                <div class="boxed push-down-30">
                    <div class="row">
                        <div class="col-xs-10  col-xs-offset-1">
                            <div class="home-content">
                                {% block homecontent %}
                                    CONTENT
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}