{% extends 'main.html.twig' %}

{% block title %}home ~ devhuman{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12  col-md-4">
                <!-- Widget author -->
                <div class="widget-author  boxed  push-down-30">
                    {% block homemenu %}
                    MENU
                    {% endblock %}
                </div>
            </div>

            <div class="col-xs-12  col-md-8">
                {% block homecontent %}
                CONTENT
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}