<footer class="footer">
    <div class="container">
        <div class="col-xs-12  col-md-3">
            <div class="widget-about  push-down-30">
                <img src="{{ asset('images/logo.png') }}" alt="Logo" width="176" height="70"><br/>
                    <span class="footer__text"><strong>devhuman</strong> is a collaborative, non-technical blog written by developers. We talk about life and stuff robots can't understand.</span>
                    <br/><br/>

            </div>
        </div>
        <div class="col-xs-12  col-md-3">
            <div class="tags  widget-tags">
                <h6>Tags</h6>
                <hr>
                <a href="#" class="tags__link">Tech</a>
                <a href="#" class="tags__link">Web</a>
                <a href="#" class="tags__link">UI/UX</a>
                <a href="#" class="tags__link">Tutorials</a>
                <a href="#" class="tags__link">Workflow</a>
            </div>
        </div>
        <div class="col-xs-12  col-md-3">
            <nav class="widget-navigation  push-down-30">
                <h6>Collections</h6>
                <hr>
                <ul class="navigation">
                    {% for collection in collection_list %}
                        <li><a href="{{ path('devhuman_collection', {slug: collection.slug}) }}" title="See all posts under the '{{ collection.name }}' Collection">{{ collection.name }}</a></li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
        <div class="col-xs-12  col-md-3">
            <div class="widget-contact  push-down-30">
                <h6>Get in Touch</h6>
                <hr>
                <div class="social-icons  widget-social-icons">
                    <a href="http://facebook.com/devhuman" class="social-icons__container"><span class="zocial-facebook"></span></a>
                    <a href="http://twitter.com/devhumanproject" class="social-icons__container"><span class="zocial-twitter"></span></a>
                    <a href="mailto:hello@dev-human.com" class="social-icons__container"><span class="zocial-email"></span></a>
                </div>
            </div>
        </div>
    </div>
</footer>
<footer class="copyrights">
    <div class="container">
        <div class="row">
            <div class="col-xs-12  col-sm-6">
                Made with <span class="glyphicon glyphicon-heart"></span> by <a href="http://twitter.com/erikaheidi" target="_blank">@erikaheidi</a>
            </div>
            <div class="col-xs-12  col-sm-6">
                <div class="copyrights--right">
                    Proudly hosted by <a href="http://digitalocean.com" target="_blank">DigitalOcean</a>
                </div>
            </div>
        </div>
    </div>
</footer>