<footer class="footer">
    <div class="container">
        <div class="col-xs-12  col-md-3">
            <div class="widget-about  push-down-30">
                <img src="images/logo.png" alt="Logo" width="176" height="70"><br/>
                <span class="footer__text">We focus on highly customizable, fast and optimized themes for variety of popular platform like WordPress and Magento.</span>
                <br/><br/>
                <div class="social-icons  widget-social-icons">
                    <a href="#" class="social-icons__container"><span class="zocial-facebook"></span></a>
                    <a href="#" class="social-icons__container"><span class="zocial-twitter"></span></a>
                    <a href="#" class="social-icons__container"><span class="zocial-youtube"></span></a>
                </div>
            </div>
        </div>
        <div class="col-xs-12  col-md-3">
            <div class="tags  widget-tags">
                <h6>Tags</h6>
                <hr>
                <a href="#" class="tags__link">Tech</a>
                <a href="#" class="tags__link">Web</a>
                <a href="#" class="tags__link">UI/UX</a>
                <a href="#" class="tags__link">Tutorials</a>
                <a href="#" class="tags__link">Workflow</a>
            </div>
        </div>
        <div class="col-xs-12  col-md-3">
            <nav class="widget-navigation  push-down-30">
                <h6>Navigation</h6>
                <hr>
                <ul class="navigation">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="single-post.html">Post Formats</a></li>
                    <li><a href="elements.html">Elements</a></li>
                    <li><a href="about-us.html">About</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </nav>
        </div>
        <div class="col-xs-12  col-md-3">
            <div class="widget-contact  push-down-30">
                <h6>Contact Us</h6>
                <hr>
        <span class="widget-contact__text">
        <span class="widget-contact__title">Readable Itd.</span><br>
        Tehnološki park 19,<br>
        1000 Ljubljana<br>
        Slovenia
        </span>
            </div>
        </div>
    </div>
</footer>
<footer class="copyrights">
    <div class="container">
        <div class="row">
            <div class="col-xs-12  col-sm-6">
                <a href="http://themeforest.net/item/readable-blog-template-focused-on-readability/7499064?ref=ProteusThemes">Readable</a> HTML Template © Copyright 2014.
            </div>
            <div class="col-xs-12  col-sm-6">
                <div class="copyrights--right">
                    Made by <a href="http://proteusthemes.com" target="_blank">ProteusThemes</a>.
                </div>
            </div>
        </div>
    </div>
</footer>