<div class="highlight-panel">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <form action="{{ path('devhuman_search') }}">
                    <textarea name="text" class="highlight-panel__form  js--highlight-panel-text" placeholder="Text to Share">
                    </textarea>
                    <p class="highlight-panel__text">SHARE</p>
                </form>
            </div>
            <div class="col-xs-12 col-md-6">
                <div id="quotable_image"> </div>
            </div>
        </div>
    </div>
</div>