<!-- Search - Open panel -->
<div class="search-panel">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <form action="{{ path('devhuman_search') }}">
                    <input type="text" name="q" class="search-panel__form  js--search-panel-text" placeholder="Begin typing for search">
                    <p class="search-panel__text">Press enter to see results or esc to cancel.</p>
                </form>
            </div>
        </div>
    </div>
</div>