<!-- Widget author -->
<div class="widget-author  boxed  push-down-30">
    <div class="widget-author__image-container">
        <div class="widget-author__avatar--blurred">
            <img src="images/dummy/about-1.jpg" alt="Avatar image" width="90" height="90">
        </div>
        <img class="widget-author__avatar" src="images/dummy/about-1.jpg" alt="Avatar image" width="90" height="90">
    </div>
    <div class="row">
        <div class="col-xs-10  col-xs-offset-1">
            <h4>Timothy Miler</h4>
            <p>User Interface Designer, Amateurish Poker Player and Imaginary Breakdancer ...</p>
        </div>
    </div>
</div>

<div class="sidebar  boxed  push-down-30">
    <div class="row">
        <div class="col-xs-10  col-xs-offset-1">
            <!-- Widget categories -->
            <div class="widget-categories  push-down-30">
                <h6>Categories</h6>
                <ul>
                    <li><a href="#">Technology &nbsp;<span class="widget-categories__text">(16)</span></a></li>
                    <li><a href="#">User Interface design &nbsp;<span class="widget-categories__text">(13)</span></a></li>
                    <li><a href="#">User Experience &nbsp;<span class="widget-categories__text">(9)</span></a></li>
                    <li><a href="#">Startups &nbsp;<span class="widget-categories__text">(23)</span></a></li>
                    <li><a href="#">Reading &amp; Books &nbsp;<span class="widget-categories__text">(3)</span></a></li>
                </ul>
            </div>
            <!-- Widget featured post -->
            <div class="widget-featured-post  push-down-30">
                <h6>Featured post</h6>
                <img src="images/dummy-licensed/blog-image.jpg" alt="Featured post" width="293" height="127">
                <h4><a href="single-post.html">Featured Author Post</a></h4>
                <p>Why ProteusThemes products is so much better than lorem everyone else's.</p>
            </div>
            <!-- Widget Facebook -->
            <div class="widget-facebook  push-down-30">
                <h6>Facebook</h6>
                <div id="likebox-wrapper">
                    <!--[if IE]>
                    <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fproteusthemes&amp;width&amp;height=290&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=false&amp;show_border=false&amp;appId=685180284845706"
                            allowTransparency="true">
                    </iframe>
                    <![endif]-->
                    <!--[if !IE]>-->
                    <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fproteusthemes&amp;width&amp;height=290&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=false&amp;show_border=false&amp;appId=685180284845706">
                    </iframe>
                    <!--<![endif]-->
                </div>
            </div>
            <!-- Widget posts -->
            <div class="widget-posts  push-down-30">
                <h6>Popular / Recent</h6>
                <!-- Nav tabs -->
                <ul class="nav  nav-tabs">
                    <li class="active"><a href="#recent-posts" data-toggle="tab"><span class="glyphicon  glyphicon-time"></span> &nbsp;Recent Posts</a></li>
                    <li><a href="#popular-posts" data-toggle="tab"><span class="glyphicon  glyphicon-flash"></span> &nbsp;Popular Posts</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane  fade  in  active" id="recent-posts">
                        <div class="push-down-15">
                            <img src="images/dummy-licensed/blog-image-small.jpg" alt="Posts">
                            <h5><a href="single-post.html">This is a showcase of the most recent posts</a></h5>
                            <span class="widget-posts__time">19 hours ago</span>
                        </div>
                        <div class="push-down-15">
                            <img src="images/dummy-licensed/blog-image-3-small.jpg" alt="Posts">
                            <h5><a href="single-post.html">This is a showcase of the most recent posts</a></h5>
                            <span class="widget-posts__time">19 hours ago</span>
                        </div>
                        <div class="push-down-15">
                            <img src="images/dummy-licensed/blog-image-small.jpg" alt="Posts">
                            <h5><a href="single-post.html">This is a showcase of the most recent posts</a></h5>
                            <span class="widget-posts__time">19 hours ago</span>
                        </div>
                    </div>
                    <div class="tab-pane  fade" id="popular-posts">
                        <div class="push-down-15">
                            <img src="images/dummy-licensed/blog-image-3-small.jpg" alt="Posts">
                            <h5><a href="single-post.html">This is a showcase of the most popular posts</a></h5>
                            <span class="widget-posts__time">9 hours ago</span>
                        </div>
                        <div class="push-down-15">
                            <img src="images/dummy-licensed/blog-image-small.jpg" alt="Posts">
                            <h5><a href="single-post.html">This is a showcase of the most popular posts</a></h5>
                            <span class="widget-posts__time">12 hours ago</span>
                        </div>
                        <div class="push-down-15">
                            <img src="images/dummy-licensed/blog-image-3-small.jpg" alt="Posts">
                            <h5><a href="single-post.html">This is a showcase of the most popular posts</a></h5>
                            <span class="widget-posts__time">19 hours ago</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tags  widget-tags">
                <h6>Tags</h6>
                <hr>
                <a href="#" class="tags__link">Tech</a>
                <a href="#" class="tags__link">Web</a>
                <a href="#" class="tags__link">UI/UX</a>
                <a href="#" class="tags__link">Tutorials</a>
                <a href="#" class="tags__link">Workflow</a>
            </div>
            <!-- Widget Twitter -->
            <div class="widget-twitter  push-down-30">
                <h6>Twitter</h6>
                <a class="twitter-timeline" href="https://twitter.com/ProteusNetCom" data-widget-id="452057937674915840">Tweets by @ProteusNetCom</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
            <div class="widget-recent-comments  push-down-30">
                <h6>Recent Comments</h6>
                <ul>
                    <li>
                        Mihael on <a href="single-post.html#comments">ProteusThemes and its products are great</a><br/>
                    </li>
                    <li>
                        Jaka on <a href="single-post.html#comments">Readable is most readable WordPress theme out there</a>
                    </li>
                    <li>
                        Mihael on <a href="single-post.html#comments">Everybody loves Readable</a>
                    </li>
                </ul>
            </div>

            <div class="social-icons  widget-social-icons  push-down-30">
                <h6>Social Icons</h6>
                <a href="#" class="social-icons__container"><span class="zocial-facebook"></span></a>
                <a href="#" class="social-icons__container"><span class="zocial-twitter"></span></a>
                <a href="#" class="social-icons__container"><span class="zocial-skype"></span></a>
                <a href="#" class="social-icons__container"><span class="zocial-youtube"></span></a>
                <a href="#" class="social-icons__container"><span class="zocial-reddit"></span></a>
                <a href="#" class="social-icons__container"><span class="zocial-wordpress"></span></a>
                <a href="#" class="social-icons__container"><span class="zocial-bitbucket"></span></a>
                <a href="#" class="social-icons__container"><span class="zocial-github"></span></a>
                <a href="#" class="social-icons__container"><span class="zocial-html5"></span></a>
                <a href="#" class="social-icons__container"><span class="zocial-meetup"></span></a>
            </div>
        </div>
    </div>
</div>
