html { padding: 0; margin: 0}

body {
    border: 1px solid #e5e5e5;
    min-height: 500px;
    border-top: 0;
    background: rgb(255,255,255);
    font-family: monospace;
    font-size: 14px;
    padding: 20px;
    padding-top: 40px;
    color: #333;
    line-height: 1.35em;
    margin: 0;
}
