
<div class="widget-featured-post  push-down-30">
    <h6>Featured post</h6>
    <img src="{{ asset('images/dummy-licensed/blog-image.jpg')}}" alt="Featured post" width="293" height="127">
    <h4><a href="single-post.html">Featured Author Post</a></h4>
    <p>Why ProteusThemes products is so much better than lorem everyone else's.</p>
</div>