<div class="widget-feed  push-down-30">
    <h6>Feed</h6>
    <a class="feed" href="{{ url('devhuman_homepage') }}rss">RSS feed</a> <br />
    <a class="feed" href="{{ url('devhuman_homepage') }}atom">Atom feed</a>
</div>