<div class="tags  widget-tags">
    <h6>Tags</h6>
    <hr>
    {% for tag in tags %}
        <a href="{{ path('devhuman_tag', {slug: tag.slug}) }}" class="tags__link">{{ tag.name }}</a>
    {% endfor %}
</div>