<div class="tags  widget-tags">
    <h6>Tags</h6>
    <hr>
    <a href="#" class="tags__link">Tech</a>
    <a href="#" class="tags__link">Web</a>
    <a href="#" class="tags__link">UI/UX</a>
    <a href="#" class="tags__link">Tutorials</a>
    <a href="#" class="tags__link">Workflow</a>
</div>