{% extends 'main.html.twig' %}

{% block title %}about ~ dev-human{% endblock %}

{% block content %}

        <div class="boxed  push-down-45">
          <div class="row">
            <div class="col-xs-10  col-xs-offset-1">
              <!-- Start of the content -->
              <div class="post-content--front-page">
                <h2>About dev-human</h2>

                        <p><strong>dev-human</strong> is a collaborative blog created by developers, for developers, focused on non-technical, or lightening content. Our goal is to promote other aspects of a programmer's life, and work on getting over stereotypes and biased concepts often related to programmers and people involved with IT in general.</p>

                        <h3>The principles behind dev-human</h3>

                        <ol>
                            <li>You are not a developer who happens to be human, you are a human who happens to be a developer.
                                We all share this and, as such, we can't neglect our personal improvement, in favor of our technical skills.
                                Programming is deeply integrated into our lives, but it cannot represent alone what you are.</li>

                            <li>Programming requires much more than technical knowledge - it requires patience, creativity, curiosity,
                                among other things that cannot be mimicked by a "robot". By improving the human being, you improve the developer.</li>

                            <li>We are still learning how to deal with the Internet and the huge amount of information we are exposed every day.
                                We are responsible for what the web is going to be in the future.
                                We should talk about this and other non-technical subjects that will help building better developers,
                                and better environments for future generations.</li>

                            <li>As a community, we are stronger. We share the jargons, the ups and downs of being a developer;
                                we have similar problems, we have similar stories, and (often) we laugh at the same jokes. d
                                ev-human aims to be like the social in a conference: a place to relax and get inspired,
                                with people who belong to the same world as you.</li>
                        </ol>

                    </div>
                </div>
            </div>
        </div>

{% endblock %}