{% set active='about' %}
{% extends 'main.html.twig' %}

{% block title %}about ~ dev-human{% endblock %}

{% block content %}

        <div class="boxed  push-down-45">
          <div class="row">
            <div class="col-xs-10  col-xs-offset-1">
              <!-- Start of the content -->
              <div class="post-content--front-page about">
                <h2>About dev-human</h2>

                        <p><strong>dev-human</strong> is a collaborative initiative created by developers, for developers, focused on non-technical,
                            or <a href="http://www.elearnenglishlanguage.com/blog/english-mistakes/lightening-vs-lightning/">lightening</a> (as in making something lighter) content. Our goal is to promote other aspects of a programmer's life, and work on getting over stereotypes and biased concepts often related to programmers and people involved with IT in general.</p>

                        <h3>The principles behind dev-human</h3>

                        <ol>
                            <li><strong>Knowing Who you Are</strong>
                                You are not a developer who happens to be human, you are a human who happens to be a developer.
                                We all share this and, as such, we can't neglect our personal improvement, in favor of our technical skills.
                                Programming is deeply integrated into our lives, but it cannot represent alone what you are.</li>

                            <li><strong>Embracing Humanity</strong>
                                Programming requires much more than technical knowledge - it requires patience, creativity, curiosity,
                                among other things that cannot be mimicked by a "robot". By improving the human being, you improve the developer.</li>

                            <li><strong>Taking Responsibility</strong>
                                We are still learning how to deal with the Internet and the huge amount of information we are exposed every day.
                                We are responsible for what the web is going to be in the future.
                                We should talk about this and other non-technical subjects that will help building better developers,
                                and better environments for future generations.</li>

                            <li><strong>Passing the Message</strong>
                                Changing the world around us might sound like an utopia, but that's not true. Each and every action counts,
                                and sharing the lessons we learned is an honorable and inspiring way of leaving our mark in the world. Because
                                sharing <strong>is</strong>, in fact, caring.</li>

                            <li><strong>Learning from Others</strong>
                                As a community, we are stronger. We share the jargons, the ups and downs of being a developer;
                                we have similar problems, we have similar stories, and (often) we laugh at the same jokes.
                                But there's always a different perspective, angle or experience we can learn from others.</li>
                        </ol>

                    </div>
                </div>
            </div>
        </div>

{% endblock %}