<div class="row">
    <div class="col-xs-11  col-xs-offset-1  col-md-9  col-md-offset-1  push-down-60">
        <div class="post-content">
            <h1>{{ title }}</h1>
            {{ content|raw }}
        </div>
   </div>
</div>