<div class="row">
    <div class="col-xs-12  col-md-12 push-down-60">
        <div class="post-content editor-preview-box">
            <h1>{{ title }}</h1>
            {{ content|raw }}
        </div>
   </div>
</div>